html{
    font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-style: normal;
    font-weight: 100;
    box-sizing: border-box;
    margin: -1%;
    overflow: scroll;
    
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase; 
    margin-left: 7%;
    font-weight: 700;
    font-family: monospace;
}

.top{
    background-image:url(barcelona_code_school_background.png) ;
    width: 100%;
    height: 25vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-size: cover;
}
h1 a{
    text-align: left;
    font-size: 1.5em;
    margin: 10%;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav{
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0%;
    position: webkit sticky;
    position: sticky;
    text-align: center;
    text-align: center;
    z-index: 110;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    top: 25%;

}
div a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

#foot{
    font-size: 1em;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 2%;
    padding: 0 auto;
    border: 0 auto;
    margin: 3% 7%;
}
.footer{
    font-size: 0.8em;
    line-height: 0.5;
}
li{
    line-height: 2;
}
.dark{
    
    background-color: black;
    color: white;
    width: 100%;
    padding: 1%;
}
.dark a:-webkit-any-link {
    text-decoration: none;
    color: white;
}
.white{
       background-color: white;
    color: black;
    width: 100%;
    padding: 1%;
    margin: 8%;
    display: contents;
}
.white a:-webkit-any-link {
    text-decoration: underline;
    color: black;
}
.letstalk{ /* page index */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 1em 5em;
}
.videobox{ /* page index */
    position: relative;
    padding-bottom: 65%;
    padding-top: 30px;
    height: 0;
}
#profileImg{
    border-radius: 50%; 
    margin: 0 0 1em;
}
img{
    filter: grayscale(100%);
    max-width: 80%; 
}
.partners{
    display: block;
    max-inline-size: -webkit-fill-available;
    margin: 3% 7%;
}
#imgs{
    display: inline-grid;
    max-width: 19%;
    vertical-align: middle;
        
}
#columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 3% 7%;
}
.instructorsText{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#instructors{
    max-width: 80%;
    position: relative;
    top: 15px;
}
#thisIsUs{ /* page About */
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-gap: 2%;
    margin: 6% 4%;
}
.event{
    border: 1px solid grey;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 6fr 3fr;
    margin: 1% 7%;
    grid-gap: 1%;
}
.smallLetters{
    font-size: 0.6em;
}
.jsBootcamp{
    display: grid;
    grid-template-columns: 2fr 7fr;
    margin: 5% 7%;
    margin-bottom: 1em;
    text-align: left;
    padding: 1em;
}
#banner {
    max-width: 90%;
    margin-top: 2%;
}
@media screen and (max-width:800px){
    
    .backgroundImg{
        height: 50vh;
        position: center;
        
    }
    #future, .letstalk, #thisIsUs ,#columns, #outcomes, #foot, .jsBootcamp {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
    

}
